{% extends 'remote_registration/base.html' %}
{% block content %}
    <table>
    <tbody>
        <tr>
            <th>Nazwa procedury</th>
            <th>Szczegóły procedury</th>
        </tr>
        {% for referral in referrals %}
            <tr>
                <td>{{ referral.procedure }}</td>
                <td>{{ referral.details }}</td>
                <td>
                    <a href="appointment/{{ referral.id }}">Umów się na badanie</a>
                    <a href="update/{{ referral.id }}">Aktualizuj informacje</a>
                    <a href="delete/{{ referral.id }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}