{% extends 'remote_registration/base.html' %}
{% block content %}
    <form action=".">
        <input type="text" name="search_box" placeholder="Wyszukaj nazwę badania">
        <input type="submit" value="Wyszukaj" class="btn btn-sm btn-outline-secondary" type="button">
    </form>
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th>Nazwa badania</th>
            <th>Szczegóły badania</th>
        </tr>
        {% for procedure in procedures %}
            <tr>
                <td>{{ procedure.name }}</td>
                <td>{{ procedure.details }}</td>
                <td><a href="{{ procedure.id }}" class="btn btn-sm btn-outline-secondary" type="button">Teminy badań</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}