{% extends 'remote_registration/base.html' %}
{% block content %}
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th>Nazwa badania</th>
            <th>Szczegóły badania</th>
        </tr>
        {% for referral in referrals %}
            <tr>
                <td>{{ referral.procedure }}</td>
                <td>{{ referral.details }}</td>
                 <td><a href="/appointment/{{ referral.id }}" class="btn btn-sm btn-outline-secondary" type="button">Umów się na badanie</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}