{% extends 'remote_registration/base.html' %}
{% block content %}
    <div>
{#        <form action=".">#}
{#            <input type="text" name="search_box" placeholder="Wyszukaj nazwę instytucję">#}
{#            <input type="submit" value="Wyszukaj" class="btn btn-sm btn-outline-secondary" type="button">#}
{#        </form>#}
        <input type="text" name="search_name" id="search_name" placeholder="Szukaj po nazwie placówki">
        <select name="search_province" id="search_province">
            {% for province in provinces %}
            <option value="{{ province.name }}">{{ province.name }}</option>
            {% endfor %}
        </select>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa instytucji</th>
                <th>Oddział</th>
                <th>Województwo</th>
                <th>Miejscowość</th>
                <th>Adres</th>
            </tr>
        </thead>
        <tbody>
            {% for institution in institutions %}
                    <tr>
                        <td id="institution_name">{{ institution.name }}</td>
                        <td>{{ institution.ward }}</td>
                        <td id="province">{{ institution.province }}</td>
                        <td>{{ institution.city }}</td>
                        <td>{{ institution.address }}</td>
                        <td><a href="{{ institution.id }}" class="btn btn-sm btn-outline-secondary" type="button">Szczegóły</a></td>
                    </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $('#search_name').keyup(function(){
                search_name($(this).val());
            });

            function search_name(value){
                $('tr:not(.province_filter) #institution_name').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toUpperCase().indexOf(value.toUpperCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found === 'true')
                    {
                        $(this).parent('tr').show();
                    }
                    else
                    {
                        $(this).parent('tr').hide();
                    }
                })
            }

            $('#search_province').click(function(){
                search_province($(this).val());
            });

            function search_province(value){
                $('tr #province').each(function(){
                   var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toUpperCase().indexOf(value.toUpperCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found === 'true')
                    {
                        $(this).parent('tr').show();
                        $(this).parent('tr').removeClass("province_filter")

                    }
                    else
                    {
                        $(this).parent('tr').hide();
                        $(this).parent('tr').addClass("province_filter")
                    }
                })
            }

        });
    </script>
{% endblock %}