{% extends 'remote_registration/base.html' %}
{% block content %}
    <div>
        <form action=".">
            <input type="text" name="search_box" placeholder="Wyszukaj nazwę instytucję">
            <input type="submit" value="Wyszukaj" class="btn btn-sm btn-outline-secondary" type="button">
        </form>
        <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nazwa instytucji</th>
                <th>Oddział</th>
                <th>Województwo</th>
                <th>Miejscowość</th>
                <th>Adres</th>
            </tr>
            {% for institution in institutions %}
                    <tr>
                        <td>{{ institution.name }}</td>
                        <td>{{ institution.ward }}</td>
                        <td>{{ institution.province }}</td>
                        <td>{{ institution.city }}</td>
                        <td>{{ institution.address }}</td>
                        <td><a href="{{ institution.id }}" class="btn btn-sm btn-outline-secondary" type="button">Szczegóły</a></td>
                    </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}