{% extends 'remote_registration/base.html' %}
{% block content %}
    <div>
    <a href="add">Dodaj nową instytucję</a>
    <table>
    <tbody>
        <tr>
            <th>Nazwa instytucji</th>
            <th>Oddział</th>
            <th>Województwo</th>
            <th>Miejscowość</th>
            <th>Adres</th>
        </tr>
        {% for institution in institutions %}
            <tr>
                <td>{{ institution.name }}</td>
                <td>{{ institution.ward }}</td>
                <td>{{ institution.province }}</td>
                <td>{{ institution.city }}</td>
                <td>{{ institution.address }}</td>
                <td>
                    <a href="update/{{ institution.id }}">Aktualizuj informacje</a>
                    <a href="delete/{{ institution.id }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}