{% extends 'remote_registration/base.html' %}
{% block content %}
    <a href="add">Dodaj nowy grafik</a>
    <table>
    <tbody>
        <tr>
            <th>Pracownik</th>
            <th>Dzień</th>
            <th>Placówka medyczna</th>
            <th>Początek pracy</th>
            <th>Koniec pracy</th>
        </tr>
        {% for table in time_table %}
            <tr>
                <td>{{ table.personnel }}</td>
                <td>{{ table.day }}</td>
                <td>{{ table.medical_institution }}</td>
                <td>{{ table.start }}</td>
                <td>{{ table.end }}</td>
                <td>
                    <a href="update/{{ table.id }}">Aktualizuj informacje</a>
                    <a href="delete/{{ table.id }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}