{% extends 'remote_registration/base.html' %}
{% block content %}
    <a href="add">Dodaj nowego/ą pracownika/icę</a>
    <table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
        {% for person in personnel %}
            <tr>
                <td>{{ person.pk }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.surname }}</td>
                <td>
                    <a href="update/{{ person.id }}">Aktualizuj informacje</a>
                    <a href="delete/{{ person.id }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}