{% extends "remote_registration/base.html" %}

{% block content %}
    {{ message|safe }}
    <form method="post" id="referralForm" data-details-url="{% url 'ajax_load_details' %}" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ submit }}" class="btn btn-sm btn-outline-secondary" type="button">
    </form>
    <script>
        $("#id_procedure").change(function () {
          var url = $("#referralForm").attr("data-details-url");  // get the url of the `load_cities` view
          var procedureId = $(this).val();  // get the selected country ID from the HTML input

          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'procedure': procedureId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_details").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });

        });
    </script>

{% endblock %}