{% extends "remote_registration/base.html" %}

{% block content %}
    {{ message|safe }}
    <form method="post" id="referralForm" data-details-url="{% url 'ajax_load_details' %}" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ submit }}" class="btn btn-sm btn-outline-secondary" type="button">
    </form>
    <script>
        $("#id_procedure").change(function () {
          var url = $("#referralForm").attr("data-details-url");
          var procedureId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'procedure': procedureId
            },
            success: function (data) {
              $("#id_details").html(data);
            }
          });
        });
    </script>

{% endblock %}